<div class="loader" *ngIf="loader">
    <div class="outer">
        <div class="innear">
            <div class="logo-loading">
                <span class="circle-one"></span>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="master-heading">
        <div class="top-tab-list">
            <ul>
                <li><a routerLink="/knowledge-list" routerLinkActive="active">Approved</a></li>
                <li><a routerLink="/my-upload" routerLinkActive="active">Pending</a></li>
                <li *ngIf="db.datauser.access_level == '1' || db.datauser.access_level == '4' || db.datauser.access_level == '3'"><a routerLink="/reject-knowledge" routerLinkActive="active">Reject</a></li>
                <li *ngIf="db.datauser.access_level == '1' || db.datauser.access_level == '4' " class="active"><a routerLink="/recycle" routerLinkActive="active">Delete</a></li>
            </ul>
        </div>
        <div class="vl-info">
            <ul>
                <li><p class="light">Records : <span class="black-clr">{{knowcategory?.length}}</span></p></li>
                <li class="af-none">
                    <button mat-button [matMenuTriggerFor]="menu" class="short-button">
                        <p class="pl30"><i class="material-icons icon">swap_vert</i><span>Sort</span></p>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="search.date_filter = 'today';getallknowlist(20,0,'')" >Today</button>
                        <button mat-menu-item (click)="search.date_filter = 'week';getallknowlist(20,0,'')" >Last Week</button>
                        <button mat-menu-item (click)="search.date_filter = 'current month';getallknowlist(20,0,'')" >Current Month</button>
                        <button mat-menu-item (click)="search.date_filter = 'last month';getallknowlist(20,0,'')" >Last Month</button>
                        <button mat-menu-item>Date Wise</button>
                    </mat-menu>
                </li>
            </ul>
        </div>
        
        <div class=" wp30 ml30">
            <mat-form-field class="example-full-width wp100 th-inputs search-input basic-serach">
                <div class="th-serach">
                    <input matInput placeholder="Serach" [(ngModel)]="search.master" (input)="filter_array(search.master,all_sug,'search_keys');getallknowlist()"  (change)="filter_array(search.master,all_sug,'search_keys');getallknowlist()" matInput [matAutocomplete]="auto1">
                    <mat-autocomplete #auto1="matAutocomplete" >
                        <mat-option *ngFor="let search of fltr_state" [value]="search">{{search}}</mat-option>
                    </mat-autocomplete>
                    <span><i class="material-icons">search</i></span>
                </div>
            </mat-form-field>
        </div>
        
        <div class="top-pagination">
            <ul>
                <li class="refresh-area">
                    <a class="refresh-btn" mat-raised-button  matTooltip="Refresh" (click)="getallknowlist(pagelimit,start,'refresh')"  ><i class="material-icons"> refresh</i></a>
                </li>
                <li><p>Pages {{pagenumber}} Of {{total_page}}</p></li>
                <li><button mat-button class="left-btn" (click) = "getallknowlist(pagelimit,start-pagelimit)" disabled='{{pagenumber == 1}}'><i class="material-icons">keyboard_arrow_left</i></button></li>
                <!-- (keypress)="MobileNumber($event)" -->
                <li><input type="text" placeholder="GO TO" [(ngModel)]="pagenumber"  (keyup)="getallknowlist(pagelimit,((pagenumber*pagelimit)-pagelimit))"  min="1" max="{{total_page}}"></li>
                <li><button mat-button class="right-btn" (click)="getallknowlist(pagelimit,start+pagelimit)" disabled="{{pagenumber == total_page}}"><i class="material-icons">keyboard_arrow_right</i></button></li>
            </ul>
        </div>
    </div>
    
    <div class="all-container">
        <div class="cs-row">
            <div class="right-data pl0">
                <div class="cs-table">
                    <div class="header sticky-header">
                        <table class="sno-border">
                            <tr>
                                <th class="w30">&nbsp;</th>
                                <th class="w100">Date</th>
                                <th class="w200">Upload By</th>
                                <th>Document Name</th>
                                <th class="w200">Category</th>
                                <th>Description</th>
                                <th class="w80 text-center" *ngIf="db.datauser.access_level == '1' "> Total Downloads</th>
                                <th class="w70 text-center">No. of Files</th>
                            </tr>
                        </table>
                    </div>
                    <div class="header">
                        <table class="sno-border">
                            <tr>
                                <th class="w30">&nbsp;</th>
                                <th class="w100">&nbsp;</th>
                                <th class="w200 pb0">
                                    <mat-form-field class="example-full-width wp100 th-inputs  search-input">
                                        <div class="th-serach"> 
                                            <input matInput placeholder="Search User Name" name="name"  [(ngModel)]="search.name"  (keyup)="getallknowlist()">
                                            <span><i class="material-icons">search</i></span>
                                        </div>
                                    </mat-form-field>
                                </th>
                                
                                <th class="pb0">
                                    <mat-form-field class="example-full-width wp100 th-inputs search-input">
                                        <div class="th-serach">
                                            <input matInput placeholder="Search" class="" name="subject"   [(ngModel)]="search.subject"  (input)="getallknowlist()">
                                            <span><i class="material-icons">search</i></span>
                                        </div>
                                    </mat-form-field>
                                </th>
                                <th class="w200 pb0">
                                    <mat-form-field class="example-full-width wp100 th-inputs search-input">
                                        <div class="th-serach">
                                            <input matInput placeholder="Search" class="" name="category_name"   [(ngModel)]="search.category_name"  (keyup)="getallknowlist()">
                                            <span><i class="material-icons">search</i></span>
                                        </div>
                                    </mat-form-field>
                                </th>                               
                                
                                <th class="pb0">
                                    <mat-form-field class="example-full-width wp100 th-inputs search-input">
                                        <div class="th-serach">
                                            <input matInput placeholder="search" class="" name="desc"   [(ngModel)]="search.desc"  (input)="getallknowlist()">
                                            <span><i class="material-icons">search</i></span>
                                        </div>
                                    </mat-form-field>
                                </th>
                                <th class="w80 pb0" *ngIf="db.datauser.access_level == '1' ">&nbsp;</th>
                                <th class="w70 pb0">&nbsp;</th>
                            </tr>
                        </table>
                    </div>
                    <div class="table-container" *ngIf="knowcategory.length > 0">
                        <div class="table-body">
                            <table class="sno-border">
                                <tr *ngFor="let know of knowcategory;let i = index;">
                                    <td class="w30">{{i+1}}</td>
                                    <td class="w100" > <ng-container *ngIf="know.date_created != '0000-00-00 00:00:00' "> {{know.date_created | amLocale:'en' | amDateFormat: 'd MMM Y'}} </ng-container></td>
                                    
                                    <td class="w200">{{know.name}}</td>
                                    <td> <a routerLink="/knowledge-detail/{{know.id}}" routerLinkActive="active">{{know.subject}}</a></td>
                                    <td class="w200">{{know.category_name }} {{know.category_name2 ? ' / ' : ''}} {{know.category_name2 }} {{know.category_name3 ? ' / ' : ''}} {{know.category_name3 }} {{ know.category_name4 ? ' / ' : '' }} {{ know.category_name4 }}</td>
                                    <td >{{know.desc}}</td>
                                    <td class="w80 text-center" *ngIf="db.datauser.access_level == '1' "> {{know.total_downloads}}</td>
                                    <td class="w70 text-center">{{know.total_files}}
                                        <div class="action-btns">
                                            <div class="outer">
                                                <div class="innear">
                                                    <button  mat-button class="download" (click)="restore(know.id)" ><i class="material-icons"  >autorenew</i> Restore </button>
                                                    <button *ngIf="db.datauser.access_level == '1' " mat-button class="delete" (click)="delete(know.id,i)" ><i class="material-icons"  >delete</i> Delete </button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div *ngIf="knowcategory.length == 0" style="text-align: center;">
                        <img src="assets/img/NoRecordFound.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="h100"></div>
    